<h2 style="color: darkblue;"><b>Master Unit Table</b></h2>
<div class="table-content">
  <div class="col-md-12">

    <div class="items_per_page">
      <span class="items_per_page_text">Items Per Page</span>
      <select id="PerPage" class="" [(ngModel)]="pageSize">
        <option [ngValue]="5">5</option>
        <option [ngValue]="25">25</option>
        <option [ngValue]="50">50</option>
        <option [ngValue]="100">100</option>
      </select>
    </div>

    <div class="search_div">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input class="search_icon" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="Search.....">
    </div>
  </div>
  
<div class="addNew_with_modal">
  <button type="button" class="btn btn-info add_new" data-toggle="modal" data-target="#myModal">Add New Unit</button>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create New Master Unit</h4>
        </div>
        <div class="modal-body">
       
         
          <div class="emp_details">
            <label for="unitname">Unit Name</label>
            
              <input id="unitname" type="text" class="form-control" placeholder="Enter Unit Name">
            
          </div>
          <div class="emp_details">
            <label for="State">State</label>
            
              <input id="State" type="text" class="form-control" placeholder="Enter State">
            
          </div>
        
          <div class="emp_details" >
            <label for="status">Select Status</label>
            <select class="form-control" id="status">
              <option class="active">Active</option>
              <option class="inactive">InActive</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="createnew($event)">Create</button>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="update_with_modal">
  
  <div id="updateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
<br>
<br>
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Master Unit</h4>
        </div>
        <div class="modal-body">
          <div class="emp_details">
            <label for="state">State</label>
            
              <input id="state" type="text" class="form-control">
            
          </div>
          <div class="emp_details">
            <label for="unitname">Unit Name</label>
            
              <input id="unitname" type="text" class="form-control">
            
          </div>
          
          <div class="emp_details">
            <label for="Updatestatus">Select Status</label>
            <select class="form-control" id="Updatestatus">
              <option class="active">Active</option>
              <option class="inactive">InActive</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="updateData($event)">Update</button>
        </div>
      </div>

    </div>
  </div>
</div>

  <table class="table table-striped " id="customers">


    <tr>
      <th> Id</th>
      <th>Unit Name</th>
      <th>State</th>
      <th>Status</th>
      <th>Created Date Time</th>
      <th> Edit Button</th>
    </tr>

    <tr
      *ngFor="let item of datatables | filter:searchText | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">

      <td>{{item.id}}</td>
      <td>{{ item.unitname }}</td>
      <td>{{ item.state}}</td>
      <td>{{ item.status}}</td>
      <td>{{item.created_datetime}}</td>
      <td><input type="button" value="Update Unit Data" (click)="updateData($event)" id="{{item.id}}" ></td>

    </tr>

  </table>
  <div class="paginateDiv">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>