<header class="header-fixed">
    <div class="header-logo">
        <img src="assets/images/ubibanner.jpg" height="63px" width="250px">
    </div>
    <div class="header-logo1">
        <!-- <span>Sol Id : {{id}} </span> -->
        <!-- <span> Branch Name&nbsp;: UDAIPUR </span> -->
    </div>
</header>